.card {
  display: flex;
  gap: 20px;
  padding: 15px 0px;
}

.employmentPeriod {
  min-width: 160px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header {
  font-size: 16px;
  margin: 0px;
}

.jobSummary {
  color: var(--snow-storm-3);
  opacity: 0.6;
}

.skills {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
