.about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-size: 50px;
}

.intro {
  font-size: 25px;
}

.icons {
  display: flex;
  gap: 8px;
}

.icons > svg {
  height: 30px;
  width: 30px;
}
