.about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-size: 50px;
}

.intro {
  font-size: 25px;
}

.icons {
  display: flex;
  gap: 8px;
}

.icons > svg {
  height: 30px;
  width: 30px;
}

@media (max-width: 900px) {
  .about {
    gap: 5px;
  }

  .name {
    font-size: 35px;
  }

  .intro {
    font-size: 20px;
  }

  .icons {
    gap: 6px;
  }

  .icons > svg {
    height: 24px;
    width: 24px;
  }
}
