.card {
  display: flex;
  gap: 30px;
  padding: 10px 0px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}

.url {
  color: var(--frost-3);
  text-decoration: none;
  font-size: 16px;
}

.url:hover {
  color: var(--aurora-3);
}

.intro {
  color: var(--snow-storm-3);
  opacity: 0.6;
}

.chips {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
