.card {
  padding: 10px 0px;
}

.project {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}

.url {
  color: var(--frost-3);
  text-decoration: none;
}

.intro {
  color: var(--snow-storm-1);
}
