.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 900px;
  padding: 100px;
}

@media (max-width: 900px) {
  .main {
    gap: 50px;
    padding: 50px;
  }
}

@media (max-width: 500px) {
  .main {
    gap: 50px;
    padding: 15px;
  }
}
