.header {
  display: flex;
  height: 50px;
  align-items: center;
  position: fixed;
  z-index: 999;
  background-color: var(--polar-night-1);
  right: 0;
}

.tab {
  text-decoration: none;
  color: var(--snow-storm-3);
  padding: 5px 15px;
}

.tab:hover {
  text-decoration: none;
  color: var(--aurora-3);
}
