.header {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: right;
  align-items: center;
  position: fixed;
  z-index: 999;
  background-color: var(--polar-night-1);
}

.tab {
  text-decoration: none;
  color: var(--snow-storm-3);
  padding: 0px 15px;
  font-weight: 500;
}

.tab:hover {
  text-decoration: none;
  color: var(--aurora-3);
}
