.header {
  display: flex;
  height: 50px;
  width: 70%;
  align-items: center;
  justify-content: end;
  position: fixed;
  z-index: 9999;
  background-color: var(--polar-night-1);
}

@media (max-width: 2000px) {
  .header {
    width: 80%;
  }
}

@media (max-width: 1500px) {
  .header {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .header {
    width: 95%;
  }
}

.tab {
  text-decoration: none;
  color: var(--snow-storm-3);
  padding: 5px 15px;
}

.tab:hover {
  text-decoration: none;
  color: var(--aurora-3);
}

.menu {
  display: flex;
  align-items: end;
  position: fixed;
  z-index: 9999;
  background-color: var(--polar-night-2);
  right: 0;
  flex-direction: column;
  height: 100vh;
  gap: 15px;
  padding-top: 10px;
}

.menuButton {
  position: fixed;
  right: 0px;
  top: 0px;
  border: none;
}

.menuIcon {
  width: 25px;
  height: 25px;
  position: fixed;
  right: 0;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 50%;
  background-color: var(--frost-2);
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: calc(100vw - 105px);
  left: 0;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
