.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: normal;
}

.header {
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
  color: var(--snow-storm-3);
}

.description {
  color: var(--snow-storm-3);
  opacity: 0.6;
}

.chips {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.date {
  margin: 0px 25px;
  color: var(--snow-storm-3);
}
