.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 9998;
  gap: 10px;
  justify-content: flex-end;
  padding: 50px 30px;
  bottom: 0;
  right: 0;
}

@media (max-width: 900px) {
  .sidebar {
    padding: 20px 20px;
  }
}

.icon {
  color: var(--snow-storm-3);
  cursor: pointer;
}

.icon:hover {
  color: var(--aurora-3);
}
