.timeline {
  max-width: 100% !important;
  margin: 0;
}

.timeline > div {
  margin: 3em 0;
}

.timeline > div > div {
  transform: translateY(-20px);
  animation: none !important;
}

.timeline::before {
  width: 2px;
  background-color: var(--snow-storm-1);
  margin-left: -1px !important;
}

.icon {
  box-shadow: none;
  width: 40px;
  height: 40px;
  margin: -20px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: normal;
  margin: 0;
}

.header {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  color: var(--snow-storm-3);
}

.description {
  color: var(--snow-storm-3);
  opacity: 0.6;
}

.chips {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

@media (max-width: 1169px) {
  .timeline {
    margin-left: 50px;
  }

  .timeline > div {
    margin: 2em 0;
  }

  .icon {
    width: 35px;
    height: 35px;
    margin: 2px;
  }

  .text {
    margin-left: 40px;
    width: 450px;
  }

  .timeline::before {
    width: 2px;
    background-color: var(--snow-storm-1);
    margin-left: 1px !important;
  }
}

@media (max-width: 750px) {
  .timeline {
    margin-left: -10px;
  }

  .timeline > div {
    margin: 1em 0;
  }

  .icon {
    width: 35px;
    height: 35px;
    margin: 0px 2px;
  }

  .text {
    margin-left: 40px;
    width: 270px;
  }
}
